h1 {
    font-size: 32px; /* Видим что показано точный размер шрифта */
    margin-bottom: 20px;
}

html {
    font-size: 16px; 
}
  
.rem-example {
    font-size: 1.5rem; 
    padding: 1rem;
}

.em-container {
    font-size: 20px;
}
  
.em-container p {
    font-size: 1.2em;
}

.percent-box {
    width: 60%; 
    background-color: black;
    padding: 10px;
    margin: 20px auto;
}
  
.hex-color {
    color: white;
    background-color: blue; 
    padding: 23px;
}

.rgb-color {
    color: rgb(255, 255, 255);
    background-color: rgb(46, 204, 113);
    padding: 10px;
}
 
.rgba-color {
    color: rgba(255, 255, 255, 0.9); 
    background-color: rgba(231, 76, 60, 0.7); 
    padding: 23px;
}
